/* VARIABLES */

:root {
--main-fg: #fff;  /* white */
--main-bg: #fbfbfb; /* light grey */

--section-bg: #f4f4f4;
--section-fg: #333;

--hover-fg: #123;
--hover-bg: #999;

--box-fg: #333;
--box-bg: #f4f4f4;  /* light grey */

--btn-fg: #fff;
--btn-bg: #333;

--nav-text-fg: #f1f1f1;
--nav-text-bg: #666;
--nav-color: black;
--nav-hover: #f1f1f1;

--max-width: 992px;
}

* {
    margin: 0;
    padding: 0;
}

/* CORE STYLES */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--main-bg);
  color: var(--main-fg);
  line-height: 1.2;
}
img {
  display: block;
  width: 100%;
  height: auto;
  /* remove image save-as & prevent dragging etc.. */
  pointer-events: none;
}
h1, h2, h3 {
  margin: 0;
  padding: 2rem 1rem 1rem 1rem;
}
h3 {
  padding: 1.2rem 0;
}
p {
  padding: 0.5rem 1rem 1rem 1rem;
}
ul {
    list-style: none;
}
.btn {
  display: inline-block;
  background: var(--btn-bg);
  color: var(--btn-fg);
  text-decoration: none;
  padding: 1em;
  border: 1px solid #666;
  margin-top: 1.5rem;
}
.btn:hover {
    /*
  color: var(--hover-fg);
  background: var(--hover-bg);
  */
  box-shadow: 1px 2px 2px 0px silver;
}


/* NAVIGATION
 * */
nav {
    position: fixed;  /* top left */
    top: 5px;
    left: 5px;
    z-index: 1;       /* always visible */
    opacity: 0.8;
}
nav svg {
    width: 18px;
    height: 20px;
}

nav .nav-items {
    display: none;  /* only show when hovering */
    flex-flow: column nowrap;
    color: white;
    font-family: arial, sans-serif;
    background: black;
    padding: 0;
    margin: 0 1em;
    width: 100px;
    opacity: 0.9;
}
nav a {
    text-decoration: none;
    color: #fefefe;
    margin: 0;
    padding: 0.2em 1em;
    display: inline-block;
}
nav a:hover {
    background: #999;
    /* border: 1px solid white; */
}

/* make menu items appear when hovering the hamburger and keep
 * showing it when hovering the menu items themselves
 */
nav:hover .nav-items,
nav:hover .nav-items:hover {
    display: flex;
}



/* SHOWCASE */
#showcase {
  height: 100vh;
  width: 100vw;
  color: #000;
  text-align: center;
}
#showcase .bg-image {
  /* separate div for bg-image so opacity can be applied to the image*/
  position: absolute;
  background: #333 url("img/showcase.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  z-index: -1;
  /* opacity: 1; */
}
#showcase h1 {
  padding-top: 3rem;
  padding-bottom: 0;
}
/* modify these to fit the showcase image if it changes */
#showcase .content-wrap {
  padding: 2rem 1rem;
}
#showcase .btn {
    margin-top: 1rem;
}


/* SECTION A */
#section-a {
  background: var(--section-bg);
  color: var(--section-fg);
  padding-bottom: 1rem;
}
#section-a ul {
    padding: 1rem 1.2rem;
    list-style: none;
}
#section-a li:before {
    content: '\f0da';  /* caret right */
    font-family: 'Font Awesome 5 Free';
    /* needed for solid icons to show up */
    font-weight: 900;
    padding-right: 0.5rem;
    color: #0d3300;  /* darker green */
}


/* SECTION B */
#section-b {
    background: var(--section-fg);
    color: var(--section-bg);
    padding-bottom: 1rem;
}

/* SECTION C */
#section-c {
    background: var(--section-bg);
    color: var(--section-fg);
}

/* SECTION CC */
#section-cc {
    padding: 1rem;
    background: var(--section-bg);
    color: var(--section-fg);
}
#section-cc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#section-cc li {
    margin-bottom: 0.6rem;
    background: #fff;
    color: #333;
}
/* last p elm in section
#section-cc p { padding: 1rem 0.5rem; }
*/
.card {
    margin-bottom: 1rem;
}
.card-content {
    padding: 1rem;
}

/* SECTION D */
#section-d {
    background: var(--section-fg);
    color: var(--section-bg);
    padding-bottom: 1rem;
}
#section-d .face {
    height: 120px;
    width: auto;
    float: left;
    padding: 0 1em;
}

/* FOOTER */
footer {
    background: #111;
    color: #ccc;
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 1rem;
}
footer a {
    color: #ccc;
    text-decoration: none;
    font-style: italic;
    text-decoration: underline;
}
footer a:hover {
    cursor: pointer;
}
footer a:visited {
    color: #aaa;
    color: #555;
}
#footer-logo {
    height: 48px;
    width: auto;
    padding: 1rem 0 1rem 0;
    /* small screen auto for left/right */
    margin: 0 auto;
}

/* Typical breakpoints for screens on different devices:
 * @media only screen and
 *  (max-width: 600px)  = xtra small: phones 600px and down
 *  (min-width: 600px)  = small     : portrait tablets, large phones 600px & up
 *  (min-width: 768px)  = medium    : landscape tablets 768px & up
 *  (min-width: 992px)  = large     : laptops/desktops 992px & up
 *  (min-width: 1200px) = xtra large: laptops/desktops
 */

/* Media Queries for wider screens */

@media (min-width: 992px) {
    html {
    }

    /* body { */
    /*     background-image: url(img/body-image.jpeg); */
    /*     background-repeat: no-repeat; */
    /*     /1* ensure background image covers all when resizing window *1/ */
    /*     background-size: 100vw 100vh; */
    /*     background-position: center center; */
    /*     background-attachment: fixed; */
    /*     background-origin: border-box; */
    /* } */
    body {
        position: relative;
    }

    .body-bg {
        position: fixed;
        top:0;
        left:0;
        height: 100vh;
        width: 100vw;
        z-index: -1;
        background-image: url(img/alt/apartment-architecture-bookcase-257344.jpg);
        background-repeat: no-repeat;
        /* ensure background image covers all when resizing window */
        background-size: 100vw 100vh;
        background-position: center center;
        background-attachment: fixed;
        background-origin: border-box;
    }

    /* to get margins left/right of content */
    main, header, footer {
        max-width: var(--max-width);
        margin: 0 auto;
        border-radius: 0.2em;
        /* box shadow only to the right */
        box-shadow: 10px 0px  5px rgba(0,0,0,0.6);
        moz-box-shadow: 10px 0px  5px  rgba(0,0,0,0.6);
        webkit-box-shadow: 10px 0px  5px  rgba(0,0,0,0.6);
        -o-box-shadow: 10px 0px  5px  rgba(0,0,0,0.6);
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 528px)) 1fr;
    }

    #showcase .bg-image {
        /* position is absolute, so width=100% is relative to body and wont
         * work */
        width: var(--max-width);
    }

    .content-wrap,
    #section-cc ul.cards,
    #section-cc p {
        grid-column: 2/4;
    }

    .content-title {
        text-align: center;
    }
    .content-text {
        columns: 2;
        column-gap: 1rem;
    }
    p {
        padding-top: 0;
    }
    #section-a ul {
        /* align at the top */
        padding-top: 0;
    }

    #section-c .content-text {
        padding-bottom: 1rem;
    }

    #section-cc {
        grid-column: 2/4;
    }
    #section-cc ul.cards {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    #section-cc ul.cards > li {
        width: 30%;
        box-shadow: 3px 4px 5px 3px silver;
    }
    #section-cc p {
        text-align: center;
        padding-top: 2rem;
        font-weight: bolder;
    }


    /* FOOTER */


    #footer-logo {
        /* wider screens, auto margin for top/bottom */
        margin: auto 0;
    }
    #main-footer .footer-content {
        padding-top: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}
